.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #40a1e2;
    color: white;
    text-align: center;
  }
  
/* Modal Body */
.modal-body {
    padding: 2px 16px;
    margin: 5pt;
}

.modal-body input {
    margin-top: 5pt;
}
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #40a1e2;
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 300pt;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }

#modal_content {
  width: 300pt;
}
/* .modal-footer input {
    margin: 5pt;
    border-color: #e4e4e4;
    background-color: #000000;
    border-style: none;
    color: #e4e4e4;
    font-family: 'Gilroy-Regular', sans-serif;
    border-radius: 3pt;
    height: 25pt;
    font-size: 12pt;
    font-weight: bold; 
    width: 70pt;
} */

  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }